/* Footer.css */
.footer {
    background-color: #132342; /* Dark background */
    color: white;
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    position: fixed; /* Stick to bottom */
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer a { /* Style links */
    color: #f0ad4e; /* Orange */
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  /* Optional: Social Media Icons */
  .footer .social-icons a {
    margin: 0 10px; /* Space between icons */
  }
  