.patient-card {
  border: 2px solid #000;  /* Changed for a slightly thinner black border */
  border-radius: 10px; 
  padding: 20px; 
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Container for patient name and core info */
.patient-info { 
  margin-bottom: 15px; /* Add spacing between info and prescriptions */
} 

.card-title {
  font-size: 1.5em; 
  font-weight: bold; 
}

.card-des {
  color: #666; 
}

/* Styling for the prescriptions section */ 
.prescription-container {
  /* You might want additional styling here for the container itself */
}

/* Hover effect stays the same */
.patient-info:hover {
  background-color: white;  
  border-radius: 10px; 
  padding: 20px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.2); 
}
.prescription-details {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding: 10px;
}