/* Container for the search bar */
.wrap {
  width: 50%;
  height: 30%;
  margin: 20px auto;
  /* Adjust the margin to move the position on the page */
}

/* Search bar styling */
.search {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 44px;
}

/* Input field styling */
.searchTerm {
  width: calc(100% - 60px); /* Adjust width to fit the button */
  height: 40px;
  padding: 0 10px;
  border: 1px solid #FF5733;
  border-right: none;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

/* Input field focus state */
.searchTerm:focus {
  color: #FF5733;
}

/* Search button styling */
.searchButton {
  margin: 0px;
  width: 60px;
  height: 40px;
  border: 1px solid #FF5733;
  background: #FF5733;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0px;
}
/* Patient Card List Styles */
.patientCardList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns with equal width */
  gap: 20px; /* Add some space between cards */
}

.card {
  /* Card styles */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}


.card h3 {
  margin-top: 0;
}