.review-modal-overlay {
    position: fixed; /* Keep the modal above other content */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: flex; /* Center the modal content horizontally */
    justify-content: center;
    align-items: center;
  }
  
  .review-modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 800px; /* Set a maximum width */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: deepblue; /* Assuming deep blue from your logo */
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .review-modal-content {
    /* Style the content area here */
  }
  