/* Global styles for the html and body */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background-color: #f8f9fa;
}

/* Hero Section */
.hero {
  background-color: #132342;
  color: white;
  padding: 154px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-size: 100%;
  background-position: left 100% bottom 74%;
}

.hero-content {
  max-width: 600px;
  color: #FFFFF0; /* Update the text color to ivory for better readability */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #FFFFF0; /* Ensure the heading also uses the ivory color */
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #FFFFF0; /* Ensure the paragraph also uses the ivory color */
}

.cta-button {
  background-color: #132342; /* Primary blue background */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.hero-slogan {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
  color: #FFFFF0; /* Update the text color to ivory for better readability */
}

.hero-slogan h2 {
  font-size: 2rem;
  color: #FFFFF0; /* Ensure the slogan heading also uses the ivory color */
}

/* Features Section */
.features {
  padding: 50px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 50px; /* Add margin to the bottom of the features section */
}

.feature {
  max-width: 300px;
  margin: 20px;
  padding: 20px;
  background-color: #132342; /* Consistent dark blue background */
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
}

.feature img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.feature h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: white; /* White text color */
}

.feature p {
  font-size: 1rem;
  color: white; /* White text color */
}

/* Additional Info Section */
.additional-info {
  padding: 50px 20px;
  background-color: #f8f9fa;
  text-align: center;
  margin-top: 50px; /* Add margin to the top of the additional info section */
}

.additional-info h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.additional-info p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #666;
}

/* About Section */
.about {
  padding: 50px 20px;
  background-color: #fff;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #132342;
}

.about p {
  font-size: 1.2rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto 20px;
}

.about h3 {
  font-size: 2rem;
  margin-top: 40px;
  color: #132342;
}

.about h4 {
  font-size: 1.5rem;
  margin-top: 20px;
  color: #132342;
}

.about ul {
  list-style-type: none;
  padding: 0;
  max-width: 800px;
  margin: 0 auto;
}

.about ul li {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 10px;
}